html {
    font-size: 62.5%;
}

.contenedor {
    border: 5px solid rgb(170, 128, 134);
    background-color: rgb(199, 192, 181);
    display: grid;
    grid-template-columns: minmax(30px, 300px) 200px minmax(60px, 250px);
    grid-template-rows: repeat(3, auto);
}

.item {
    border: 5px solid rgb(209, 153, 162);
    font-size: 2rem;
}